#!/bin/bash

# general config
. /etc/rc.conf
. /etc/rc.d/functions

case $1 in
    start)
        msg_busy "Starting D-BUS system messagebus"
        if [[ ! -d /run/dbus ]] ; then
            install -m755 -g 81 -o 81 -d /run/dbus
        fi

        if ! dbus-daemon --system; then
            msg_fail
        else
            dmn_add dbus
            msg_ok
        fi
        ;;
    stop)
        msg_busy "Stopping D-BUS system messagebus"
        if ! { [[ -f /run/dbus/pid ]] && kill $(</run/dbus/pid); }; then
            msg_fail
        else
            rm -f /run/dbus/pid
            dmn_rm dbus
            msg_ok
        fi
        ;;
    restart)
        $0 stop
        sleep 1
        $0 start
        ;;
    reload)
        msg_busy "Reloading D-BUS configuration"
        if ! { [[ -f /run/dbus/pid ]] && dbus-send \
                --system --type=method_call \
                --dest=org.freedesktop.DBus \
                / org.freedesktop.DBus.ReloadConfig; }; then
            msg_fail
        else
            msg_ok
        fi
        ;;
    *)
        echo "usage: $0 {start|stop|restart|reload}"
        ;;
esac
exit 0
