#!/bin/bash

# general config
. /etc/rc.conf
. /etc/rc.d/functions

getPID() {
   echo $(pgrep -u mysql mysqld 2>/dev/null);
}

case "$1" in
  start)
    msg_busy "Starting MySQL Server"
    [ ! -d /run/mysqld ] && install -d -g mysql -o mysql /run/mysqld &>/dev/null
    if [ -z "$(getPID)" ]; then
       /usr/bin/mysqld_safe --user=mysql &>/dev/null &
      if [ $? -gt 0 ]; then
        msg_fail
        exit 1
      else
        timeo=30
        while [ $timeo -gt 0 ]; do
          response=`/usr/bin/mysqladmin -uUNKNOWN_USER ping 2>&1` && break
          echo "$response" | grep -q "mysqld is alive" && break
          sleep 1
          let timeo=${timeo}-1
        done
        if [ $timeo -eq 0 ]; then
          msg_fail
          exit 1
        else
          echo $(getPID) > /run/mysqld/mysqld.pid
          dmn_add mysqld
          msg_ok
        fi
      fi
    else
      msg_fail
      exit 1
    fi
    ;;

  stop)
    msg_busy "Stopping MySQL Server"
    if [ ! -z "$(getPID)" ]; then
      timeo=30
      kill $(getPID) &> /dev/null
      if [ $? -gt 0 ]; then
        msg_fail
        exit 1
      fi
      while [ ! -z "$(getPID)" -a $timeo -gt 0 ]; do
        sleep 1
        let timeo=${timeo}-1
      done
      if [ -z "$(getPID)" ]; then
        rm -f /run/mysqld/mysqld.pid &>/dev/null
        dmn_rm mysqld
        msg_ok
      else
        msg_fail
        exit 1
      fi
    else
      msg_fail
      exit 1
    fi
    ;;

  restart)
    $0 stop
    $0 start
    ;;
  *)
    echo "usage: $0 {start|stop|restart}"
esac
exit 0
